@using ServerMDA.ViewModel
@model List<CMovieOriginViewModel>

@{
    ViewData["Title"] = "國家產地清單";
}

<h3>國家產地清單 <a class="btn btn-success mb-1" onclick="showmodal('@Url.Action("Create","MovieOrigin",Context.Request.Scheme)',null)">新增</a></h3>

<div>
    <table id="myTable" class="table table-striped table-hover tables col-12">
        <thead>
            <tr style="white-space:nowrap">
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().國旗countryImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().國家編號countryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().國家名稱countryName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().電影編號movieId)
                </th>
                <th class="col-4">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().中文標題titleCht)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>
                            <img src="@Url.Action("ShowPhoto","MovieOrigin", new {id= item.國家編號countryId })" class="img-fluid w-25" />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.國家編號countryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.國家名稱countryName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.電影編號movieId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.中文標題titleCht)
                    </td>
                    <td>
                        <a class="btn btn-yuka mb-1" id="btn" onclick="showmodal('@Url.Action("Edit","MovieOrigin",new {id=@item.電影產地編號mcId},Context.Request.Scheme)',null)">修改</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="newstaticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-title">


            </div>
            <div class="modal-body">


            </div>
        </div>
    </div>
</div>

<script src="~/js/vendor/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
<script>
    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            }
        })
    }
</script>
@*<script src="~/js/forlayout/bootstrap.min.js"></script>*@
