@{
    ViewData["Title"] = "新增";
}


<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />
<style>
    .card {
        overflow: scroll;
    }

    .list-group-item {
    }

        .list-group-item img {
            position: relative;
            max-height: 75px;
            padding-left: 5%;
            float: right;
        }

    .dataimg {
        position: relative;
        height: 277px;
        max-width: 200px;
        padding-left: 2%;
        padding-bottom: 3%;
    }
</style>

<h4>新增電影</h4>

<div class="row">
    <form method="post" action="~/Movie/CreateOneDragon" enctype="multipart/form-data" id="form">
        <div class="col-12">
            <div class="d-flex flex-row">
                <div class="col-2">
                    <div class="form-group">
                        <label for="Series_ID" class="control-label">系列名稱</label>
                        <button type="button" class="d-inline btn btn-yuka ml-3" id="NewSeries">新增系列</button>
                        @await Component.InvokeAsync("Series")
                    </div>
                    <div class="form-group">
                        <label for="Title_Chi" class="control-label">電影中文名</label>
                        <input class="form-control" id="Title_Chi" name="Title_Chi" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Title_Eng" class="control-label">電影英文名</label>
                        <input class="form-control" id="Title_Eng" name="Title_Eng" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Release_Date" class="control-label">上映日期</label>
                        <input type="date" class="form-control" id="Release_Date" name="Release_Date" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="runtime" class="control-label">片長</label>
                        <input class="form-control" id="runtime" name="runtime" />
                        <span class="text-danger"></span>
                    </div>

                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="Rate_ID" class="control-label">電影分級</label>
                        @await Component.InvokeAsync("Rate")
                    </div>
                    <div class="form-group">
                        <label for="Box" class="control-label">票房</label>
                        <input class="form-control" id="Box" name="Box" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="TrailerUrl" class="control-label">預告片(網址)</label>
                        <input class="form-control" id="TrailerUrl" name="TrailerUrl" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Plot" class="control-label">電影介紹</label>
                        <textarea rows="5" class="form-control" id="Plot" name="Plot"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group" style="float:right">
                        <button type="button" class="btn btn-success" id="sumbit">上傳新資料</button>
                        <button type="button" class="btn btn-dark" aria-label="Close" id="demoDragon">Demo</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
                    </div>
                </div>
                <div class="col-6">
                    @*<div class="d-block">
                        <a class="btn btn-details mb-1" id="btn" onclick="showmodalD('@Url.Action("CreateDirector","Movie", Context.Request.Scheme)','加入導演')">導演</a>
                        <a class="btn btn-details mb-1" id="btn" onclick="showmodalA('@Url.Action("CreateActor","Movie", Context.Request.Scheme)','加入演員')">演員</a>

                    </div>*@
                    <div class="d-block pt-1">
                        <label class="btn-gary">導演清單</label>
                        <a class="btn btn-details mb-1" id="btn" onclick="showmodalD('@Url.Action("CreateDirector","Movie", Context.Request.Scheme)','加入導演')">新增導演</a>
                        <ul class="list-group" id="DlistInfo">
                        </ul>
                    </div>
                    <div class="d-block pt-4">
                        <label class="btn-gary">演員清單</label>
                        <a class="btn btn-details mb-1" id="btn" onclick="showmodalA('@Url.Action("CreateActor","Movie", Context.Request.Scheme)','加入演員')">新增演員</a>
                        <ul class="list-group" id="AlistInfo">
                        </ul>
                    </div>
                    <div class="d-block pt-4">
                        <label class="btn-gary">圖片清單</label>
                        <div class="d-block" id="picBox">
                        </div>
                        <input type="file" id="btnP" value="上傳照片" name="photos" multiple>
                    </div>
                </div>
            </div>
        </div>
        <div id="Ddata"></div>
        <div id="Adata"></div>
        <div id="Pdata"></div>
        <input type="hidden" name="Series_ID" id="Sid"/>
        <input type="hidden" name="Rate_ID" id="Rid"/>
    </form>

</div>

<div class="modal fade" id="newstaticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-title">
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>



<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<script>

    demoDragon.addEventListener("click", () => {
        console.log(15);
        const demoDragon = document.querySelector("#demoDragon");
        const titleCh = document.querySelector("#Title_Chi");
        const titleEn = document.querySelector("#Title_Eng");

        const date = document.querySelector("#Release_Date");
        const runtime = document.querySelector("#runtime");
        const box = document.querySelector("#Box");
        const plot = document.querySelector("#Plot");
        const trailerUrl = document.querySelector("#TrailerUrl");


        titleCh.value = "M.D.A一條龍設計製作Demo";
        titleEn.value = "Movie, Drama, Anime Using MovieDemo";
        trailerUrl.value ="https://www.youtube.com/MDA/DragonBall7z"
        date.value = "2022-11-16";
        runtime.value = 113;
        box.value = 1.007;
        plot.value = "M.D.A一條龍由李沛軒設計製作，希望藉由這個整合平台，讓最完整的電影、電視劇及動畫相關資訊都能快速方便的被使用者查找、觀賞及討論。藉由多媒體媒介（如電影預告片、快速訂票系統、評論交流區）提高用戶的使用體驗。提供使用者一個方便查看電影資訊、快速訂票、發表並交流電影評論的管道。";
    })

</script>






<script>

    showmodalD = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").empty();
                $("#newstaticBackdrop .modal-title").empty();
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
                AddDropEvent('director', 'directordropzone', 'directorlist');
                CloseAndSaveEvent('DlistInfo', 'Ddata','directors');
            },
        })
    }
    showmodalA = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").empty();
                $("#newstaticBackdrop .modal-title").empty();
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
                AddDropEvent('actor', 'actordropzone', 'actorlist');
                CloseAndSaveEvent('AlistInfo', 'Adata', 'actors');
            },
        })
    }

    let items;
    let zone;
    let list;

    let ActorsArr = new Array(); //放演員陣列
    let Dirctor = new Array(); //放導演陣列

    function dragStartHandler(e) {
        let id = this.getAttribute('id');
        e.dataTransfer.setData("text/plain", id);
    }//儲存要拖放的資
    function dragoverHandler(e) {
        e.preventDefault();
    }//取消預設動作
    function dropHandler(e) {
        e.preventDefault();
        let ID = e.dataTransfer.getData("text/plain");
        let element = document.getElementById(`${ID}`);
        let eleli = document.createElement('li');
        eleli.innerHTML = element.textContent;
        list.appendChild(eleli)
        eleli.setAttribute("class", "list-group-item");
        eleli.setAttribute("name", "additem");
        eleli.setAttribute("data", `${element.getAttribute('value')}`);
        element.setAttribute('draggable', 'false');


    }
    function AddDropEvent(itemname,zonename,listname) {
        items = document.getElementsByName(itemname)
        zone = document.getElementById(zonename);
        list = document.getElementById(listname);
        for (let item of items) {
            item.addEventListener("dragstart", dragStartHandler);
        }
        zone.addEventListener('drop', dropHandler)
        zone.addEventListener('dragover', dragoverHandler)
    }
    function CloseAndSaveEvent(ulid,divid,name) {
        $('#closeandsave').click(() => {
            let data = document.getElementsByName('additem');
            $(`#${ulid}`).empty();
            for (let item of data) {
                let eleli = document.createElement('li');
                let eleinput = document.createElement('input')
                eleli.setAttribute('value', `${item.getAttribute('data')}`);
                eleli.textContent = item.textContent;
                eleinput.setAttribute('value', `${item.getAttribute('data')}`);
                eleinput.setAttribute('name', name)
                eleinput.setAttribute('type', 'hidden');
                document.getElementById(ulid).appendChild(eleli);
                document.getElementById(divid).appendChild(eleinput);

            }
            $("#newstaticBackdrop").modal('hide');
        })
    }

    $('#NewSeries').click(() => {
        Swal.fire({
            title: '新的系列',
            input: 'text',
            inputLabel: '輸入新系列名稱',
            inputPlaceholder: '系列名稱'
        })


        $('.swal2-confirm').click(() => {
            let name = $('#swal2-input').val()
            console.log('click')
            console.log(name);
            let _url = '@Url.Action("CreateNewSerial", "Movie")' + `?name=${name}`;
            $.ajax({
                type:"GET",
                url: _url,
                success: function (result) {
                    if (result == 'T') {
                        Swal.fire({
                            icon: 'success',
                            title: '成功',
                            text: '新系列已新增，請重新整理!',
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: '失敗',
                            text: '新增失敗，請重新執行!',
                        })
                    }

                }
            });
        })
    })

    let imageBuffer;

    $('#btnP').on("change", function () {
        console.log('change')
        $.each(this.files, function (index, file) {
            console.log(file);
            let image = document.createElement('img');
            let src = URL.createObjectURL(file);
            image.setAttribute('src', src);
            image.setAttribute('class', 'dataimg');
            $('#picBox').append(image);

        })
    })

    $('#sumbit').click(function () {
        console.log($('#Rate_ID  option:selected').val())
        console.log($('#Series_ID option:selected').val())
        document.getElementById('Rid').setAttribute('value', $('#Rate_ID  option:selected').val())
        document.getElementById('Sid').setAttribute('value', $('#Series_ID  option:selected').val())

        $('#form').submit();
    })

</script>

