@model ServerMDA.ViewModel.CMovieViewModel

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<link href="~/css/bootstrap-5.2.2/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.電影編號movieId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.電影編號movieId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.中文標題titleCht)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.中文標題titleCht)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.英文標題titleEng)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.英文標題titleEng)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.上映年份releaseYear)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.上映年份releaseYear)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.上映日期releaseDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.上映日期releaseDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.片長runtime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.片長runtime)
        </dd>
        <dt class="col-sm-3">
            演出名單
        </dt>
        <dd class="col-sm-9">
            <input type="hidden" id="ratingId" value="@Model.電影編號movieId" />
            <a class="btn btn-info mb-1" id="btn" onclick="showmodal('@Url.Action("sortList","Cast",new {id=Model.電影編號movieId},Context.Request.Scheme)',null)">導演</a>
            <a class="btn btn-info mb-1" id="btn" onclick="showmodal('@Url.Action("sortList","Cast",new {id=Model.電影編號movieId},Context.Request.Scheme)',null)">演員</a>
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.評分rate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.評分rate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.期待度anticipation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.期待度anticipation)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.票房boxOffice)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.票房boxOffice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.劇情大綱plot)
        </dt>
        <dd class="col-sm-9 offset-1">
            <textarea class="col-11 form-control" rows="8">@Html.DisplayFor(model => model.劇情大綱plot)</textarea>

        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.預告片trailer)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.預告片trailer)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.系列編號seriesId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.系列名稱seriesName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.分級級數ratingLevel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.分級級數ratingLevel)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
    <a class="btn btn-yuka mb-1" input="color" id="btn" onclick="showmodal('@Url.Action("Edit","Movie",new {id=Model.電影編號movieId},Context.Request.Scheme)',null)">修改電影內容</a>
</div>

<script src="~/js/bootstrap-5.2.2/bootstrap.bundle.min.js"></script>