@using ServerMDA.ViewModel
@model List<CMovieViewModel>

@{
    ViewData["Title"] = "電影清單";
}

@section Styles{
    <style>
    </style>
}

<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />

<h3 class="MovieList">
    電影清單
    <a class="btn btn-success mb-1" onclick="showmodal('@Url.Action("Create", "Movie", Context.Request.Scheme)',null)">新增</a>
    <a class="btn btn-duck" asp-area="" asp-controller="Movie" asp-action="CreateOneWay">新增一條龍</a>
</h3>

<div>
    <table id="myTable" class="table tables display compact hover col-12">
        <thead>
            <tr style="white-space:nowrap">
                <th style="width:25px">
                    ID
                </th>
                <th class="col-3">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().中文標題titleCht)
                </th>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().英文標題titleEng)
                </th>
                @*<th class="col-1">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().上映年份releaseYear)
                    </th>*@
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().上映日期releaseDate)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().片長runtime)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().評分rate)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().期待度anticipation)
                </th>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().票房boxOffice)
                </th>
                @*<th class="col-1">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().劇情大綱plot)
                    </th>*@
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().系列名稱seriesName)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().分級圖片ratingImage)
                </th>
                <th style="width:100px">
                    指令
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="white-space:nowrap">
                    <th class="col-1">
                        @Html.DisplayFor(modelItem => item.電影編號movieId)
                    </th>
                    <td>
                        <input type="hidden" value="@item.電影編號movieId" />
                        @Html.DisplayFor(modelItem => item.中文標題titleCht)
                    </td>
                    <td class="tables_hidtext">
                        @Html.DisplayFor(modelItem => item.英文標題titleEng)
                    </td>
                    @*<td class="tables_hidtext">
                            @Html.DisplayFor(modelItem => item.上映年份releaseYear)
                        </td>*@
                    <td class="tables_hidtext">
                        @Html.DisplayFor(modelItem => item.上映日期releaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.片長runtime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.評分rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.期待度anticipation)
                    </td>
                    <td style="white-space:pre-wrap pre-line pre">
                        @Html.DisplayFor(modelItem => item.票房boxOffice)
                    </td>
                    @*<td class="tables_hidtext">
                            @Html.DisplayFor(modelItem => item.劇情大綱plot)
                        </td>*@
                    <td class="tables_hidtext">
                        @Html.DisplayFor(modelItem => item.系列名稱seriesName)
                    </td>
                    <td>
                        <a src="@Url.Action("Edit","Cast", new {id= item.電影分級編號ratingId })"></a>
                        <img src="@Url.Action("ShowPhoto","Movie", new {id= item.電影分級編號ratingId })" class="img-fluid w-50" />
                    </td>
                    <td>
                        <a class="btn btn-yuka " id="btn" onclick="showmodal('@Url.Action("Edit","Movie",new {id=@item.電影編號movieId},Context.Request.Scheme)',null)">修改</a>
                        <a class="btn btn-details " id="btn" onclick="showmodal('@Url.Action("Details","Movie",new {id=@item.電影編號movieId},Context.Request.Scheme)',null)">細節</a>
                        @*<a asp-action="Edit" asp-route-id="@item.電影編號movieId" class="btn btn-info mb-1" style="white-space:nowrap">修改</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="newstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*<div class="modal-header">*@
            @*<span type="button" id="btnClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>*@
            @*</div>*@
            <div class="modal-body">


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sortstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @*<div class="modal-header">*@
            @*<span type="button" id="btnClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>*@
            @*</div>*@
            <div class="modal-body">


            </div>
        </div>
    </div>
</div>


<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script src="~/js/vendor/datatables/Datatable_transCht.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

<script>

    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            },
        })
    }
    showmodaloneway = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#sortstaticBackdrop .modal-body").html(res);
                $("#sortstaticBackdrop .modal-title").html(title);
                $("#sortstaticBackdrop").modal('show');
            },
        })
    }
</script>