@model IEnumerable<ServerMDA.Models.電影movie>
@{
    ViewData["Title"] = "電影清單";
}
<link href="~/css/site.css" rel="stylesheet" />

<h2>電影清單<a asp-action="Create" class="btn btn-warning mb-1  ml-2">新增</a></h2>
<table class="table table-striped table-hover tables">
    <thead>
        <tr style="white-space:nowrap">
            <th class="col-2">
                @Html.DisplayNameFor(model => model.中文標題titleCht)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.英文標題titleEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.上映年份releaseYear)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.上映日期releaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.片長runtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.評分rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.期待度anticipation)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.票房boxOffice)
            </th>
            <th class="col-1">
            @Html.DisplayNameFor(model => model.劇情大綱plot)
             </th>
            <th>
                @Html.DisplayNameFor(model => model.系列編號series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電影分級編號rating)
            </th>
            <th class="col-1">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="white-space:nowrap">
            <td class="tables_hidtext">
                    @Html.DisplayFor(modelItem => item.中文標題titleCht)
                </td>
            <td class="tables_hidtext">
                    @Html.DisplayFor(modelItem => item.英文標題titleEng)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.上映年份releaseYear)
                </td>
            <td class="tables_hidtext">
                    @Html.DisplayFor(modelItem => item.上映日期releaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.片長runtime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.評分rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.期待度anticipation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.票房boxOffice)
                </td>
            <td class="tables_hidtext">
                    @Html.DisplayFor(modelItem => item.劇情大綱plot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.系列編號series.系列名稱seriesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電影分級編號rating.分級圖片ratingImage)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.電影編號movieId" class="btn btn-info mb-1" style="white-space:nowrap">修改</a>
                </td>
            </tr>
        }
    </tbody>
</table>
