@model IEnumerable<ServerMDA.Models.演員總表actor>

@{
    ViewData["Title"] = "演員清單";
}

<h2 class="offset-md-1">演員清單</h2>

<p>
    <a asp-action="Create" class="btn btn-success offset-md-1">新增</a>
</p>
<table class="table offset-md-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.中文名字nameCht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.英文名字nameEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.演員照片image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.中文名字nameCht)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.英文名字nameEng)
                </td>
                <td>
                    <div>
                        <img src="~/images/Actor/@item.演員照片image" width="120" />
                    </div>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.演員編號actorsId" class="btn btn-info">修改</a>
                    @*<a asp-action="Delete" asp-route-id="@item.演員編號actorsId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
