@*@model ServerMDA.Models.電影圖片總表movieImage*@
@model ServerMDA.ViewModel.CMovieImageViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<link href="~/css/bootstrap-5.2.2/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-6">
        <h4>修改電影圖片 : @Model.電影圖片編號miId</h4>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="圖片編號imageId" />
            <div class="form-group">
                <label asp-for="圖片雲端imageImdb" class="control-label"></label>
                <input asp-for="圖片雲端imageImdb" class="form-control" />
                <span asp-validation-for="圖片雲端imageImdb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="圖片類型imageType" class="control-label"></label>
                @*<input asp-for="圖片類型imageType" class="form-control" />*@
                <select asp-for="圖片類型imageType" class="form-control" asp-items="ViewBag.圖片類型imageType">
                    <option selected>@Model.圖片類型imageType</option>
                    @{
                        var self = @Model.圖片類型imageType;
                        foreach (var other in Model.listImagetype)
                        {
                            @if (other != self)
                            {
                                <option>@other</option>
                            }
                        }
                    }

                </select>
                <span asp-validation-for="圖片類型imageType" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="電影名稱movieName" class="control-label"></label>
                <input asp-for="電影名稱movieName" class="form-control" />
                <span asp-validation-for="電影名稱movieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="屏蔽invisible" class="control-label"></label>
                @*<input asp-for="屏蔽invisible" class="form-control" />*@
                <select asp-for="屏蔽invisible" class="form-control" asp-items="ViewBag.屏蔽invisible">
                    <option selected>@Model.屏蔽invisible</option>
                    @{
                        var inv = @Model.屏蔽invisible;
                        foreach (var i in Model.listinvisible)
                        {
                            @if (i != inv)
                            {
                                <option>@i</option>
                            }
                        }
                    }
                </select>

                <span asp-validation-for="屏蔽invisible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">電影圖片</label>
                <input type="file" name="photo" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-secondary mb-1 mr-3" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
                <input type="submit" value="確認修改" class="btn btn-yuka mb-1 mr-3" />
            </div>
        </form>
    </div>


    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="圖片編號imageId" />
            <div class="form-group">
                @*<label asp-for="圖片image" class="control-label"></label>*@
                <img src="~/images/MovieImage/@Model.圖片image" width="376" />
                @*<input asp-for="圖片image" class="form-control" />*@
                <span asp-validation-for="圖片image" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/bootstrap-5.2.2/bootstrap.min.js"></script>
<script src="~/js/bootstrap-5.2.2/bootstrap.bundle.js"></script>