@*@model IEnumerable<ServerMDA.Models.電影圖片總表movieImage>*@
@using ServerMDA.ViewModel
@model List<CMovieImageViewModel>

@{
    
    ViewData["Title"] = "電影圖片清單";
}


<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/css/sb-admin-2.css" rel="stylesheet">
<link href="~/css/site.css" rel="stylesheet" />

<h3>電影圖片清單 <a class="btn btn-info mb-1" onclick="showmodal('@Url.Action("Create","MovieImage",Context.Request.Scheme)',null)">新增</a></h3>
<div>
    <table id="myTable" class="table table-striped tables table-hover ">
        <thead>
            <tr style="white-space:nowrap">
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().圖片image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().電影名稱movieName)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().圖片類型imageType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().圖片雲端imageImdb)
                </th>
                <th class="col-1">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().屏蔽invisible)
                </th>
                <th class="col-1">
                    指令
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr style="white-space:nowrap">
                <td>
                    <div>
                        <img src="~/images/MovieImage/@item.圖片image" width="75" />
                    </div>
                </td>
                <td class="tables_hidtext">
                    @Html.DisplayFor(modelItem => item.電影名稱movieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.圖片類型imageType)
                </td>
                <td class="tables_hidtext">
                    @Html.DisplayFor(modelItem => item.圖片雲端imageImdb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.屏蔽invisible)
                </td>
                <td>
                    <a class="btn btn-info mb-1" id="btn" onclick="showmodal('@Url.Action("Edit","MovieImage",new {id=@item.圖片編號imageId},Context.Request.Scheme)',null)">修改</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="newstaticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-title">


            </div>
            <div class="modal-body">


            </div>
        </div>
    </div>
</div>

<script src="~/js/vendor/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
<script>
    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            }
        })
    }
</script>

<script src="~/js/vendor/datatables/jquery.dataTables.js"></script>