@using ServerMDA.ViewModel
@model CCinemaViewModel

@{
    ViewData["Title"] = "新增";
    Layout = null;
}

<style>
    .divEmpty {
        margin: 197px;
    }
</style>


<div class="row">
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="d-flex flex-row">
            <div class="col-md-6">
                <h4 class="offset-md-1">新增影廳</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="影廳名稱cinemaName" class="control-label"></label>
                    <input asp-for="影廳名稱cinemaName" value="" class="form-control" />
                    <span asp-validation-for="影廳名稱cinemaName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="電影院編號theaterId" class="control-label"></label>
                    <select asp-for="電影院編號theaterId" class="form-control" name="電影院名稱theaterName" asp-items="ViewBag.電影院編號theaterId">
                        <option></option>
                        @{
                            var q = @Model.電影院名稱theaterName;
                            foreach (var p in Model.ListTheater)
                            {
                                @if (p != q)
                                {
                                    <option>@p</option>

                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="廳種名稱cinemaClsName" class="control-label"></label>
                    <select class="form-control" name="廳種名稱cinemaClsName" asp-items="ViewBag.廳種名稱cinemaClsName">
                        <option></option>
                        @{
                            var k = @Model.廳種名稱cinemaClsName;
                            foreach (var j in Model.ListClsName)
                            {
                                @if (j != k)
                                {
                                    <option>@j</option>

                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="座位資訊seatInfo" class="control-label"></label>
                    <button type="button" class="btn btn-details mb-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        按這
                    </button>
                    <select class="form-control" name="座位資訊seatInfo" asp-items="ViewBag.座位資訊seatInfo">
                        <option></option>
                        @{
                            var m = @Model.座位資訊seatInfo;
                            foreach (var l in Model.ListSeat)
                            {
                                @if (l != m)
                                {
                                    <option>@l</option>

                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group" style="float:right">
                    <input type="submit" value="新增" class="btn btn-success mr-2" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label">影廳照片</label>
                <br />
                <img id="myimg" height="375" class="p-2" />
                <div class="form-group">
                    <input id="myfile" type="file" onchange="selectimgFile(this.files)" name="photo" />
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function selectimgFile(files) {
        const myfile = document.querySelector("#myfile")
        const myimg = document.querySelector("#myimg")
        let mynewimg = files[0]
        let objURL = URL.createObjectURL(mynewimg)
        myimg.src = objURL
    }
</script>