@using ServerMDA.ViewModel
@model CCinemaViewModel

@{
    ViewData["Title"] = "修改";
    Layout = null;
}


<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />



<div class="row">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="d-flex flex-row">
            <div class="col-md-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="影廳編號cinemaId" />
                <div class="form-group">
                    <label asp-for="影廳名稱cinemaName" class="control-label"></label>
                    <input asp-for="影廳名稱cinemaName" class="form-control" />
                    <span asp-validation-for="影廳名稱cinemaName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="電影院編號theaterId" class="control-label"></label>
                    <select asp-for="電影院編號theaterId" name="電影院名稱theaterName" class="form-control" asp-items="ViewBag.電影院編號theaterId">
                        <option selected>@Model.電影院名稱theaterName</option>
                        @{
                            var q = @Model.電影院名稱theaterName;
                            foreach (var p in Model.ListTheater)
                            {
                                @if (p != q)
                                {
                                    <option>@p</option>

                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="電影院編號theaterId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="廳種名稱cinemaClsName" class="control-label"></label>
                    <select asp-for="廳種名稱cinemaClsName" class="form-control" asp-items="ViewBag.廳種名稱cinemaClsName">
                        <option selected>@Model.廳種名稱cinemaClsName</option>
                        @{
                            var k = @Model.廳種名稱cinemaClsName;
                            foreach (var j in Model.ListClsName)
                            {
                                @if (j != k)
                                {
                                    <option>@j</option>

                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="廳種名稱cinemaClsName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="座位資訊seatInfo" class="control-label"></label>
                    <input asp-for="座位資訊seatInfo" class="form-control" />
                    <span asp-validation-for="座位資訊seatInfo" class="text-danger"></span>
                </div>
                <div class="form-group" style="float:right">
                    <input type="submit" value="確認修改" class="btn btn-yuka mr-1" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="">修改影廳 編號 : @Model.影廳編號cinemaId</h4>
                <div class="form-group">
                    <label asp-for="影廳照片image" class="control-label"></label>
                    <br />
                    @*<input asp-for="影廳照片image" class="form-control" />*@
                <img id="myimg" src="~/images/Cinema/@Model.影廳照片image" height="280" class="p-2" />
                    <span asp-validation-for="影廳照片image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="myfile" type="file" onchange="selectimgFile(this.files)" name="photo" />
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    function selectimgFile(files) {
        const myfile = document.querySelector("#myfile")
        const myimg = document.querySelector("#myimg")
        let mynewimg = files[0]
        let objURL = URL.createObjectURL(mynewimg)
        myimg.src = objURL
    }
</script>