@using ServerMDA.ViewModel
@model List<CCinemaViewModel>

@{
    ViewData["Title"] = "影廳清單";
}

<link href="~/css/bootstrap-5.2.2/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />


<h4>影廳清單 <a class="btn btn-info mb-1" onclick="showmodal('@Url.Action("Create","Cinema",Context.Request.Scheme)',null)">新增</a></h4>
<div>
    <table id="myTable" class="table tables display compact hover col-12">
        <thead>
            <tr style="white-space:nowrap">
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().影廳名稱cinemaName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().廳種名稱cinemaClsName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().座位資訊seatInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().影廳照片image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().電影院名稱theaterName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.影廳名稱cinemaName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.廳種名稱cinemaClsName)
                    </td>
                    <td class="tables_hidtext">
                        @Html.DisplayFor(modelItem => item.座位資訊seatInfo)
                    </td>
                    <td>
                        <div>
                            <img src="~/images/Cinema/@item.影廳照片image" width="70" />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.電影院名稱theaterName)
                    </td>
                    @*<td>
                            <a src="@Url.Action("Edit","Cinema", new {id= item.影廳編號cinemaId })"></a>
                        </td>*@
                <td>
                    <a class="btn btn-info mb-1" id="btn" onclick="showmodal('@Url.Action("Edit","Cinema",new {id=@item.影廳編號cinemaId},Context.Request.Scheme)',null)">修改</a>
                    @*<a asp-action="Edit" asp-route-id="@item.電影編號movieId" class="btn btn-info mb-1" style="white-space:nowrap">修改</a>*@
                    <a class="btn btn-default" href="#" onclick="show()" onkeypress="show()">想跳出視窗按這</a>
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="newstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body col-12 ">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sortstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body col-12 ">


            </div>
        </div>
    </div>
</div>




 
    ------------------------------------上面是呼叫的 下面是被呼叫的-----------------------------------------------
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title">我是彈跳視窗標題</h4>
                </div>
                <div class="modal-body">
                    <p>彈跳視窗內文</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">確認</button>
                    <button class="btn btn-default" data-dismiss="modal" onclick="cancel()" onkeypress="cancel()" type="button">取消</button>
                </div>
            </div>
        </div>
    </div>



<script src="~/js/bootstrap-5.2.2/bootstrap.bundle.min.js"></script>
<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script src="~/js/vendor/datatables/Datatable_transCht.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>

    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            },
        })
    }
</script>
<script>
    function cancel() {
    }
    function show() {
        $("#myModal").modal();
    }
</script>

<script src="~/js/vendor/datatables/jquery.dataTables.js"></script>
