@model IEnumerable<ServerMDA.Models.電影評論movieComment>

@{
    ViewData["Title"] = "電影評論";
}
<link href="~/css/site.css" rel="stylesheet" />

<h2>電影評論<a asp-action="Create" class="btn btn-warning mb-1  ml-2">新增</a></h2>
<table class="table table-striped table-hover tables">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.會員編號memberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.評分rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.期待度anticipation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.評論標題commentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.評論內容comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.發佈時間commentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.觀影日期viewingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.觀影方式source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.是否開放討論串oxFloor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.屏蔽invisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.公開等級編號public)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電影編號movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style="white-space:nowrap">
            <td>
                @Html.DisplayFor(modelItem => item.會員編號memberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.評分rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.期待度anticipation)
            </td>
            <td class="tables_hidtext">
                @Html.DisplayFor(modelItem => item.評論標題commentTitle)
            </td>
            <td class="tables_hidtext">
                @Html.DisplayFor(modelItem => item.評論內容comments)
            </td>
            <td class="tables_hidtext">
                @Html.DisplayFor(modelItem => item.發佈時間commentTime)
            </td>
            <td class="tables_hidtext">
                @Html.DisplayFor(modelItem => item.觀影日期viewingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.觀影方式source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.是否開放討論串oxFloor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.屏蔽invisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.公開等級編號public.公開等級public)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電影編號movie.英文標題titleEng)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.電影編號movieId" class="btn btn-info mb-1" style="white-space:nowrap">修改</a>
            </td>
        </tr>
        }
    </tbody>
</table>
