@using ServerMDA.ViewModel
@model List<CTheaterViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>電影院清單</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                電影院名稱
            </th>
            <th>
                營業時間
            </th>
            <th>
                電話
            </th>
            <th>
                地址
            </th>
            <th>
                官方網站
            </th>
            <th>
                電影院照片
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].影城編號mainTheaterId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.電影院名稱theaterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.營業時間businessHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.地址address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.官方網站url)
                </td>
                <td>
                    <div>
                        <img src="~/images/Theater/@item.電影院照片image " width="120" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.影城編號mainTheaterId)
                </td>
                <td>
                    @*<a class="btn btn-yuka" id="btn" asp-action="Edit" asp-route-id="@item.電影院編號theaterId">修改</a>

                        <a class="btn btn-yuka" id="btn" asp-action="Delete" asp-route-id="@item.電影院編號theaterId">刪除</a>*@
                    @Html.ActionLink("修改", "Edit", "Theater", new { id = item.電影院編號theaterId }, new { @class = "btn btn-success" })
                    @*@Html.ActionLink("刪除", "刪除資料", "Theater", new { id = item.電影院編號theaterId },
                        new { onclick = "return confirm('確定要刪除嗎')", @class = "btn btn-danger" })*@

                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            },
        })
    }
</script>