@using ServerMDA.ViewModel
@model List<CTheaterViewModel>

@{
    ViewData["Title"] = "電影院清單";
}

<link href="~/css/bootstrap-5.2.2/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />

<h3 class="MovieList">
    電影院清單
    <a class="btn btn-success mb-1" onclick="showmodal('@Url.Action("Create", "Theater", Context.Request.Scheme)',null)">新增電影院</a>
</h3>
<div>
    <table id="myTable" class="table tables display compact hover col-12">
        <thead>
            <tr>
                <th style="width:15px">
                    ID
                </th>
                <th class="col-1">
                    電影院名稱
                </th>
                <th class="col-1">
                    營業時間
                </th>
                <th>
                    電話
                </th>
                <th class="col-2">
                    地址
                </th>
                <th>
                    官方網站
                </th>
                <th class="col-1">
                    電影院照片
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().影城名稱mainTheaterName)
                </th>
                <th>
                    指令
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.電影院編號theaterId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電影院名稱theaterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.營業時間businessHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話phone)
                </td>
                <td class="tables_hidtext">
                    @Html.DisplayFor(modelItem => item.地址address)
                </td>
                <td class="tables_hidtext">
                    @Html.DisplayFor(modelItem => item.官方網站url)
                </td>
                <td>
                    <div>
                        <img src="~/images/Theater/@item.電影院照片image " width="120" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.影城名稱mainTheaterName)
                </td>
                <td>
                    <a class="btn btn-yuka" id="btn" onclick="showmodal('@Url.Action("Edit","Theater",new {id=@item.電影院編號theaterId},Context.Request.Scheme)',null)">修改</a>
                    <a class="btn btn-details " id="btn" onclick="showmodal('@Url.Action("Details","Theater",new {id=@item.電影院編號theaterId},Context.Request.Scheme)',null)">細節</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="newstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body col-12 ">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sortstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body col-12 ">


            </div>
        </div>
    </div>
</div>

<script src="~/js/bootstrap-5.2.2/bootstrap.bundle.min.js"></script>
<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script src="~/js/vendor/datatables/Datatable_transCht.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>

    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            },
        })
    }
</script>

<script src="~/js/vendor/datatables/jquery.dataTables.js"></script>