@using ServerMDA.ViewModel
@model List<CScreeningViewModel>

@{
    ViewData["Title"] = "場次清單";
}

<link href="~/css/bootstrap-5.2.2/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />

<h4>場次清單 <a class="btn btn-info mb-1" onclick="showmodal('@Url.Action("Create","Screening",Context.Request.Scheme)',null)">新增</a></h4>
<table id="myTable" class="table tables display compact hover col-12">
    <thead>
        <tr>
            <th style="width:25px">
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().放映日期playDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().放映開始時間playTime)
            </th>
            <th>
                影廳名稱
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().電影代碼編號movieCodeId)
            </th>
            <th>
                指令
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.場次編號screeningId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.放映日期playDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.放映開始時間playTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.影廳名稱cinemaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電影代碼編號movieCodeId)
                </td>
                <td>
                    <a class="btn btn-info mb-1" id="btn" onclick="showmodal('@Url.Action("Edit","Screening",new {id=@item.場次編號screeningId},Context.Request.Scheme)',null)">修改</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="newstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body col-12 ">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sortstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body col-12 ">


            </div>
        </div>
    </div>
</div>


<script src="~/js/bootstrap-5.2.2/bootstrap.bundle.min.js"></script>
<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script src="~/js/vendor/datatables/Datatable_transCht.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>

    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            },
        })
    }
</script>

<script src="~/js/vendor/datatables/jquery.dataTables.js"></script>
