@model IEnumerable<ServerMDA.Models.影城mainTheater>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.影城名稱mainTheaterName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.影城名稱mainTheaterName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.影城編號mainTheaterId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.影城編號mainTheaterId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.影城編號mainTheaterId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
