@model IEnumerable<ServerMDA.Models.電影評論movieComment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.會員編號memberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.評分rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.期待度anticipation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.評論標題commentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.評論內容comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.發佈時間commentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.觀影日期viewingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.觀影方式source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.公開等級編號publicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.是否開放討論串oxFloor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.屏蔽invisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.檢舉report)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電影編號movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.會員編號memberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.評分rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.期待度anticipation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.評論標題commentTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.評論內容comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.發佈時間commentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.觀影日期viewingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.觀影方式source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.公開等級編號publicId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.是否開放討論串oxFloor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.屏蔽invisible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.檢舉report)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電影編號movie.英文標題titleEng)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.評論編號commentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.評論編號commentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.評論編號commentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
