@using ServerMDA.ViewModel
@model List<CMovieTypeViewModel>

@{
    ViewData["Title"] = "電影片種";
}

<link href="~/css/bootstrap-5.2.2/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/datatables/jquery.dataTables.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />


<h3 class="MovieList">
    片種清單
    <a class="btn btn-success mb-1" onclick="showmodal('@Url.Action("Create", "MovieType", Context.Request.Scheme)',null)">新增片種</a>
</h3>
<table id="myTable" class="table tables display compact hover col-12">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().中文標題titleCht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().片種名稱totalTypeName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.電影編號movieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.中文標題titleCht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.片種名稱totalTypeName)
            </td>

            <td>
                <a class="btn btn-yuka " id="btn" onclick="showmodal('@Url.Action("Edit","MovieType",new {id=@item.電影編號movieId},Context.Request.Scheme)',null)">修改</a>
                @*<a class="btn btn-info " id="btn" onclick="showmodal('@Url.Action("Details","Member",new {id=@item.會員編號memberId},Context.Request.Scheme)',null)">細節</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="newstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body col-12 ">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sortstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body col-12 ">


            </div>
        </div>
    </div>
</div>

<script src="~/js/bootstrap-5.2.2/bootstrap.bundle.min.js"></script>
<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script src="~/js/vendor/datatables/Datatable_transCht.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>

    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            },
        })
    }
</script>

<script src="~/js/vendor/datatables/jquery.dataTables.js"></script>
