@model IEnumerable<ServerMDA.Models.電影分級movieRating>

@{
    ViewData["Title"] = "電影分級";
}

<h2>電影分級清單<a asp-action="Create" class="btn btn-warning mb-1  ml-2">新增</a></h2>

<table class="table">
    <thead>
        <tr>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.分級圖片ratingImage)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.分級級數ratingLevel)
            </th>
            <th class="col-5">
                @Html.DisplayNameFor(model => model.分級說明ratingIllustrate)
            </th>

            <th class="col-1">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@Url.Action("ShowPhoto","MovieRating", new {id= item.分級編號ratingId })" class="img-thumbnail w-50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.分級級數ratingLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.分級說明ratingIllustrate)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.分級編號ratingId" class="btn btn-info">修改</a>
            </td>
        </tr>
        }
    </tbody>
</table>
