@model IEnumerable<ServerMDA.Models.電影分級movieRating>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.分級級數ratingLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.分級說明ratingIllustrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.分級圖片ratingImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.分級級數ratingLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.分級說明ratingIllustrate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.分級圖片ratingImage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.分級編號ratingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.分級編號ratingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.分級編號ratingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
