@using ServerMDA.ViewModel
@model List<CCastViewModel> 

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().角色名字characterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().角色說明characterIllustrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().演員中文名字nameCht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().中文標題titleCht)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.角色名字characterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.角色說明characterIllustrate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.演員中文名字nameCht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.中文標題titleCht)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.主演編號maId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.主演編號maId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.主演編號maId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
