@using ServerMDA.ViewModel
@model List<CMovieDirectorViewModel>

@{
    ViewData["Title"] = "sortListDir";
    Layout = null;
}

<style>
    tr {
        vertical-align: middle !important;
        align-content: center !important;
    }
</style>

<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />


<h5 class="MovieList" style="float:left">
    @Html.DisplayFor(modelItem => Model[0].中文標題titleCht)
</h5>

<div style="float:right; margin-bottom:5px">
    <a class="btn btn-success mb-1" id="btn" onclick="showmodal('@Url.Action("CreateDir","Cast",new {id=Model[0].電影編號movieId},Context.Request.Scheme)',null)">新增導演</a>
    <button type="button" class="btn btn-secondary mb-1" data-bs-dismiss="modal" aria-label="Close">回到清單</button>
</div>

<div>
    <table id="myTable" class="table table-striped table-hover tables col-12">
        <thead>
            <tr>
                <th class="col-1">
                    ID
                </th>
                <th style="width:120px">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().導演照片image)
                </th>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().導演中文名字nameCht)
                </th>
                <th class="col-3">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().導演英文名字nameEng)
                </th>
                <th class="col-3">
                    指令
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.導演編號directorId)
                    </th>
                    <td>
                        <div>
                            <img src="~/images/Director/@item.導演照片image" style="width:100px" />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.導演中文名字nameCht)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.導演英文名字nameEng)
                    </td>
                    <td>
                        <a class="btn btn-yuka mb-1" id="btn" onclick="showmodal('@Url.Action("Edit","Director",new {id=@item.導演編號directorId},Context.Request.Scheme)',null)">修改</a>
                        @*<a class="btn btn-details mb-1" id="btn" onclick="showmodal('@Url.Action("Details","Director",new {id=@item.導演編號directorId},Context.Request.Scheme)',null)">細節</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/js/vendor/jquery/jquery.min.js"></script>
