@using ServerMDA.ViewModel
@model List<CCommentImageViewModel>


@{
    ViewData["Title"] = "評論圖庫清單";
}

<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />


<h3 class="MovieList">
    評論圖庫清單
    <a class="btn btn-success mb-1" onclick="showmodal('@Url.Action("Create", "CommentImage", Context.Request.Scheme)',null)">新增</a>
</h3>
<div>
    <table id="myTable" class="table tables display compact hover col-12">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().圖片image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().屏蔽invisible)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <div>
                        <img src="~/images/Comment/@item.圖片image" width="100" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.屏蔽invisible)
                </td>
                <td>
                    <a class="btn btn-yuka mr-2" id="btn" onclick="showmodal('@Url.Action("Edit","CommentImage",new {id=@item.評論圖庫編號commentImageId},Context.Request.Scheme)',null)">修改</a>
                    <a class="btn btn-info " id="btn" onclick="showmodal('@Url.Action("Details","CommentImage",new {id=@item.評論圖庫編號commentImageId},Context.Request.Scheme)',null)">細節</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="newstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body col-12 ">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sortstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body col-12 ">


            </div>
        </div>
    </div>
</div>

<script src="~/js/bootstrap-5.2.2/bootstrap.bundle.min.js"></script>
<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script src="~/js/vendor/datatables/Datatable_transCht.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


<script>

    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            },
        })
    }
</script>

<script src="~/js/vendor/datatables/jquery.dataTables.js"></script>