@model ServerMDA.ViewModel.WenViewModel.CMyListPrd

@{
    ViewData["Title"] = "ProductList";
    //Layout = "~/Views/Shared/_ChartLayout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Deletebtn {
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
@*<p>@Model.產品列表.First().電影院名稱theaterName</p>*@
<div style="display:block;height:20px;"></div>
<h1>產品清單</h1>

<p>
    @*<a asp-action="ProductCreate">新增上架產品</a>*@
    @*@Html.ActionLink("新增產品", "ProductCreate", "product", null, new { @class = "btn btn-success" })*@
    <a asp-action="ProductCreate" class="btn btn-success"><i class="fa-solid fa-sign-hanging"></i>&nbsp;新增產品</a>
</p>
<div class="container">
    @*action="~/product/ProductList"*@
    <!--<form name="mypagInfo" method="get" action="~/product/Pag" enctype="text/plain" id="pagInfo">
        <div class="row justify-content-end">
            <div class="col-2"></div>
            <div class="col-4">
                <div class="input-group mb-12">
                    <span>目前筆數:@Model.產品列表.Count&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="input-group-text" id="inputGroup-sizing-default">一頁幾筆</span>
                    <input id="mytx" name="mytx" type="hidden" />
                    <input id="tx" type="text" name="tx" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>-->
    @*<div class="col-auto">
            <button id="pre" type="submit" class="btn btn-outline-success">上一頁</button>

        </div>*@
    <!--<div class="col-auto">
                <button id="next" type="submit" class="btn btn-outline-success">顯示筆數</button>
            </div>
        </div>
    </form>-->

    <div style="display:block;height:40px;"></div>

    <div class="row" id="ttable">
        <div class="col-12">
            <table class="table table-hover" id="myTable">
                <thead>
                    <tr>
                        <th class="ml-2">
                            序號
                        </th>
                        <th style="width:150px">
                            圖片
                        </th>
                        <th class="ml-2">
                            商品名稱
                        </th>
                        <th class="ml-2">
                            商品價格
                        </th>
                        <th class="ml-2">
                            商品描述
                        </th>
                        <th class="ml-2">
                            類別
                        </th>
                        <th class="ml-2">
                            電影院名稱
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @* <p>@Model.產品列表.First().電影院名稱theaterName</p>*@

                    @{ int count = 0;

                        foreach (var item in Model.產品列表)
                        {
                            count++;
                            <tr data="@item.商品編號productId">
                                <td>
                                    @count

                                </td>
                                <td>
                                    <img class="w-50" src="~/images/WenProduct/@item.商品圖片路徑imagePath" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.商品名稱productName)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.商品價格productPrice)*@
                                    @item.商品價格productPrice.ToString("0")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.商品介紹introduce)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.類別category)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.電影院名稱theaterName)
                                </td>
                                <td>
                                    <a asp-action="ProductEdit" asp-route-id="@item.商品編號productId" class="btn btn-dark "><i class="fa-regular fa-pen-to-square"></i></a>
                                </td>
                                <td>
                                    @* asp-action="ProductDelete" asp-route-id="@item.商品編號productId"*@
                                    <a asp-action="ProductDelete" asp-route-id="@item.商品編號productId" class="btn btn-dark Deletebtn text-white" data-toggle="modal" data-target="#myModel"><i class="fa-regular fa-trash-can"></i></a>
                                    @*<input type="hidden" value="@item.商品編號productId" />*@
                                    @* <button class="btn btn-dark" asp-action="ProductDelete" asp-route-id="@item.商品編號productId" data-toggle="modal" data-target="#myModel"><i class="fa-regular fa-trash-can"></i></button>*@

                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>

            <div class="modal fade text-dark" id="myModel" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>您好，要移除商品嗎?</h4>
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div id="div1" class="modal-body">
                            <p>親愛的顧客您好，確定要移除，此商品嗎?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">關閉</button>
                            @*<a id=" mycurrentId"><i class="fa-regular fa-trash-can"></i></a>*@
                            <button id="D" type="submit" class="btn btn-warning" data-dismiss="modal">移除</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div style="display:block;height:40px;"></div>

<form name="DelInfo" method="get" action="~/product/ProductDelete" enctype="text/plain" id="Deleteform">
    <input type="hidden" id="inputdelete" name="Inprod" />
</form>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="~/js/vendor/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "上一頁",
                        "next": "下一頁",
                        "last": "最後一頁"
                    },
                    "emptyTable": "目前沒有資料",
                    "datetime": {
                        "previous": "上一頁",
                        "next": "下一頁",
                        "hours": "時",
                        "minutes": "分",
                        "seconds": "秒",
                        "amPm": [
                            "上午",
                            "下午"
                        ],
                        "unknown": "未知",
                        "weekdays": [
                            "週日",
                            "週一",
                            "週二",
                            "週三",
                            "週四",
                            "週五",
                            "週六"
                        ],
                        "months": [
                            "一月",
                            "二月",
                            "三月",
                            "四月",
                            "五月",
                            "六月",
                            "七月",
                            "八月",
                            "九月",
                            "十月",
                            "十一月",
                            "十二月"
                        ]
                    },
                    "searchBuilder": {
                        "add": "新增條件",
                        "condition": "條件",
                        "deleteTitle": "刪除過濾條件",
                        "button": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "clearAll": "清空",
                        "conditions": {
                            "array": {
                                "contains": "含有",
                                "equals": "等於",
                                "empty": "空值",
                                "not": "不等於",
                                "notEmpty": "非空值",
                                "without": "不含"
                            },
                            "date": {
                                "after": "大於",
                                "before": "小於",
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "number": {
                                "between": "在其中",
                                "empty": "為空",
                                "equals": "等於",
                                "gt": "大於",
                                "gte": "大於等於",
                                "lt": "小於",
                                "lte": "小於等於",
                                "not": "不為",
                                "notBetween": "不在其中",
                                "notEmpty": "不為空"
                            },
                            "string": {
                                "contains": "含有",
                                "empty": "為空",
                                "endsWith": "字尾為",
                                "equals": "等於",
                                "not": "不為",
                                "notEmpty": "不為空",
                                "startsWith": "字首為",
                                "notContains": "不含",
                                "notStartsWith": "開頭不是",
                                "notEndsWith": "結尾不是"
                            }
                        },
                        "data": "欄位",
                        "leftTitle": "群組條件",
                        "logicAnd": "且",
                        "logicOr": "或",
                        "rightTitle": "取消群組",
                        "title": {
                            "_": "複合查詢 (%d)",
                            "0": "複合查詢"
                        },
                        "value": "內容"
                    },
                    "editor": {
                        "close": "關閉",
                        "create": {
                            "button": "新增",
                            "title": "新增資料",
                            "submit": "送出新增"
                        },
                        "remove": {
                            "button": "刪除",
                            "title": "刪除資料",
                            "submit": "送出刪除",
                            "confirm": {
                                "_": "您確定要刪除您所選取的 %d 筆資料嗎？",
                                "1": "您確定要刪除您所選取的 1 筆資料嗎？"
                            }
                        },
                        "error": {
                            "system": "系統發生錯誤(更多資訊)"
                        },
                        "edit": {
                            "button": "修改",
                            "title": "修改資料",
                            "submit": "送出修改"
                        },
                        "multi": {
                            "title": "多重值",
                            "info": "您所選擇的多筆資料中，此欄位包含了不同的值。若您想要將它們都改為同一個值，可以在此輸入，要不然它們會保留各自原本的值。",
                            "restore": "復原",
                            "noMulti": "此輸入欄需單獨輸入，不容許多筆資料一起修改"
                        }
                    },
                    "autoFill": {
                        "cancel": "取消"
                    },
                    "buttons": {
                        "copySuccess": {
                            "_": "複製了 %d 筆資料",
                            "1": "複製了 1 筆資料"
                        },
                        "copyTitle": "已經複製到剪貼簿",
                        "excel": "Excel",
                        "pdf": "PDF",
                        "print": "列印",
                        "copy": "複製",
                        "colvis": "欄位顯示",
                        "colvisRestore": "重置欄位顯示",
                        "csv": "CSV",
                        "pageLength": {
                            "-1": "顯示全部",
                            "_": "顯示 %d 筆"
                        },
                        "createState": "建立狀態",
                        "removeAllStates": "移除所有狀態",
                        "removeState": "移除",
                        "renameState": "重新命名",
                        "savedStates": "儲存狀態",
                        "stateRestore": "狀態 %d",
                        "updateState": "更新"
                    },
                    "searchPanes": {
                        "collapse": {
                            "_": "搜尋面版 (%d)",
                            "0": "搜尋面版"
                        },
                        "emptyPanes": "沒搜尋面版",
                        "loadMessage": "載入搜尋面版中...",
                        "clearMessage": "清空",
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "title": "過濾條件 - %d",
                        "showMessage": "顯示全部",
                        "collapseMessage": "摺疊全部"
                    },
                    "stateRestore": {
                        "emptyError": "名稱不能空白。",
                        "creationModal": {
                            "button": "建立",
                            "columns": {
                                "search": "欄位搜尋",
                                "visible": "欄位顯示"
                            },
                            "name": "名稱：",
                            "order": "排序",
                            "paging": "分頁",
                            "scroller": "卷軸位置",
                            "search": "搜尋",
                            "searchBuilder": "複合查詢",
                            "select": "選擇",
                            "title": "建立新狀態",
                            "toggleLabel": "包含："
                        },
                        "duplicateError": "此狀態名稱已經存在。",
                        "emptyStates": "名稱不可空白。",
                        "removeConfirm": "確定要移除 %s 嗎？",
                        "removeError": "移除狀態失敗。",
                        "removeJoiner": "和",
                        "removeSubmit": "移除",
                        "removeTitle": "移除狀態",
                        "renameButton": "重新命名",
                        "renameLabel": "%s 的新名稱：",
                        "renameTitle": "重新命名狀態"
                    },
                    "select": {
                        "columns": {
                            "_": "選擇了 %d 欄資料",
                            "1": "選擇了 1 欄資料"
                        },
                        "rows": {
                            "1": "選擇了 1 筆資料",
                            "_": "選擇了 %d 筆資料"
                        },
                        "cells": {
                            "1": "選擇了 1 格資料",
                            "_": "選擇了 %d 格資料"
                        }
                    },
                    "zeroRecords": "沒有符合的資料",
                    "aria": {
                        "sortAscending": "：升冪排列",
                        "sortDescending": "：降冪排列"
                    },
                    "info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
                    "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                    "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                    "infoThousands": ",",
                    "lengthMenu": "顯示 _MENU_ 筆結果",
                    "search": "搜尋：",
                    "searchPlaceholder": "請輸入關鍵字",
                    "thousands": ","
                }

            });
        });
        let deletebtns = document.getElementsByClassName('Deletebtn')//自動長出的刪除鍵
        let deleteID = document.querySelector('#inputdelete')//隱藏欄位，放要刪除的產品id號碼
        let D = document.querySelector('#D')//出現要刪除的方塊，「移除」的按鈕
        let inputdelete = document.querySelector('#inputdelete')//隱藏欄位，放要刪除的產品id號碼,設定value

        let pre = document.getElementById("pre")
        let next = document.getElementById("next")
        let tx = document.getElementById("tx")
        let mytx = document.getElementById("mytx")
        //let ttable = $("#ttable");

        @*next.addEventListener("click", evt => {
            evt.preventDefault()
            console.log('click')
            mytx.value = tx.value
            //mytx.setAttribute('value', mytx);
            console.log(mytx)
            $('#pagInfo').submit();

            var url = "@Url.Content("~/product/pag")"
            var n = `?n=${parseInt(tx.value)}`
            ttable.empty();
            ttable.load(url + n)
        })*@

        //delete-----------------------
        for (let item of deletebtns) {
            item.addEventListener('click', evt => {
                evt.preventDefault();

                deleteID = $(event.currentTarget).parents('tr')[0].getAttribute('data');
                inputdelete.setAttribute('value', deleteID);
                D.addEventListener('click', evt => {
                    $('#Deleteform').submit();//form 的id

                })


            })

        }

    </script>
}

