@model ServerMDA.Models.會員member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>會員member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.會員電話cellphone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.會員電話cellphone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.密碼password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.密碼password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.姓氏lName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.姓氏lName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.名字fName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.名字fName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.暱稱nickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.暱稱nickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.生日birthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.生日birthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.電子信箱email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.電子信箱email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.地址address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.地址address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.紅利點數bonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.紅利點數bonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.正式會員formal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.正式會員formal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.會員照片image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.會員照片image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.建立時間createdTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.建立時間createdTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.性別genderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.性別genderNavigation.性別名稱genderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.會員權限permissionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.會員權限permissionNavigation.權限名稱permissionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.會員編號memberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
