@model IEnumerable<ServerMDA.Models.導演總表director>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.中文名字nameCht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.英文名字nameEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.導演照片image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.中文名字nameCht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.英文名字nameEng)
            </td>
            <td>
                <img src="@Url.Action("showPhoto","導演總表directors", new {id= item.導演編號directorId })" class="img-thumbnail w-25" />
            <td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.導演編號directorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.導演編號directorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.導演編號directorId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<!-- Bootstrap core JavaScript-->
<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script src="~/js/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/js/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/js/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/js/chart-area-demo.js"></script>
<script src="~/js/chart-pie-demo.js"></script>