@using ServerMDA.ViewModel
@model List<CQandAViewModel>

@{
    ViewData["Title"] = "List";
}
@section styles{
    <style>
        .w3-check {
            transform: scale(2);
        }

        #con {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center
        }

        #quickchange {
            display: flex;
        }

        /*        td {
            white-space: pre-wrap;
            word-wrap: break-word;
            text-align: right;
        }*/
    </style>
}
<link href="~/css/bootstrap-5.2.2/YukabtnEdit.css" rel="stylesheet" />


<div id="con">
    <div id="a">
        <h3 class="MovieList">
            QA專區
            <a class="btn btn-success mb-1" onclick="showmodal('@Url.Action("Create1", "QandA", Context.Request.Scheme)',null)">新增</a>
            
        </h3>
    </div>
    <div id="quickchange">
        <h3 class="chagetitle" style="width: 250px; vertical-align:middle; ">問題分類</h3>
        <select id="selector" class="form-select" name="selector" style="width:200px;">
            <option value="1">一般資訊</option>
            <option value="2">會員問題 </option>
            <option value="3">評分問題 </option>
            <option value="4">評論問題 </option>
            <option value="5">加入片單 </option>
            <option value="6">訂票問題 </option>
            <option value="7">取票問題 </option>
            <option value="8">退票問題 </option>
            <option value="9">優惠券 </option>
            <option value="10">購物問題 </option>
        </select>
    </div>
</div>

<div id="頁面切換">
    @await Component.InvokeAsync("一般資訊", new { datas = Model })
</div>


<script src="~/js/vendor/jquery/jquery.min.js"></script>
<script src="~/js/vendor/datatables/Datatable_transCht.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

<div class="modal fade" id="newstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sortstaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">


            </div>
        </div>
    </div>
</div>




<script>


    showmodal = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $("#newstaticBackdrop .modal-body").html(res);
                $("#newstaticBackdrop .modal-title").html(title);
                $("#newstaticBackdrop").modal('show');
            },
        })
    }




    //combobox
    let arrToDo = ""

        $('#selector').on('change', function () {           
            if (this.value == 1) {
               $('#頁面切換').load('@Url.Content("~/QandA/normallist")')
            }
            if (this.value == 2) {
               $('#頁面切換').load('@Url.Content("~/QandA/memberlist")')
            }
            if (this.value == 3) {
               $('#頁面切換').load('@Url.Content("~/QandA/ratelist")')
            }
            if (this.value == 4) {
               $('#頁面切換').load('@Url.Content("~/QandA/commentlist")')
            }
            if (this.value == 5) {
               $('#頁面切換').load('@Url.Content("~/QandA/mylistlist")')
            }
            if (this.value == 6) {
               $('#頁面切換').load('@Url.Content("~/QandA/orderlist")')
            }
            if (this.value == 7) {
               $('#頁面切換').load('@Url.Content("~/QandA/pickuplist")')
            }
            if (this.value == 8) {
               $('#頁面切換').load('@Url.Content("~/QandA/returnlist")')
            }
            if (this.value == 9) {
               $('#頁面切換').load('@Url.Content("~/QandA/couponlist")')
            }
            if (this.value == 10) {
               $('#頁面切換').load('@Url.Content("~/QandA/shoplist")')
            }
        })

    

</script>

<script src="~/js/vendor/datatables/jquery.dataTables.js"></script>

