@model IEnumerable<ServerMDA.Models.優惠總表coupon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.優惠名稱couponName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.優惠折扣couponDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.優惠代碼couponCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.優惠截止日期couponDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.優惠所需紅利bonusCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.優惠名稱couponName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.優惠折扣couponDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.優惠代碼couponCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.優惠截止日期couponDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.優惠所需紅利bonusCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.優惠編號couponId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.優惠編號couponId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.優惠編號couponId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
