@model IEnumerable<ServerMDA.Models.電影movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.中文標題titleCht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.英文標題titleEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.上映年份releaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.上映日期releaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.最後上映日期releasedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.片長runtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.評分rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.期待度anticipation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.票房boxOffice)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.劇情大綱plot)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.系列編號series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電影分級編號rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.中文標題titleCht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.英文標題titleEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.上映年份releaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.上映日期releaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.最後上映日期releasedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.片長runtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.評分rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.期待度anticipation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.票房boxOffice)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.劇情大綱plot)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.系列編號series.系列名稱seriesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電影分級編號rating.分級級數ratingLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.電影編號movieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.電影編號movieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.電影編號movieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
